In [ ]:
import pandas as pd

In [ ]:
def process_csv(file_path):
    """
    Function to read a CSV file, process it by excluding the last two rows and the last column,
    rename the columns, and append '.SA' to the 'Código' column.

    Parameters:
    - file_path (str): The path to the CSV file.

    Returns:
    - pd.DataFrame: The processed DataFrame.

    http://bvmf.bmfbovespa.com.br/indices/ResumoCarteiraQuadrimestre.aspx?Indice=IBOV&idioma=pt-br
    """
    # Read the CSV file with Latin-1 encoding, skip the first row, and exclude the last two rows
    df = pd.read_csv(file_path, encoding='Latin-1', skiprows=1, sep=';', skipfooter=2, engine='python').reset_index()

    # Exclude the last column
    df = df.iloc[:, :-1]

    # Rename the columns
    df.columns = ['Código', 'Ação', 'Tipo', 'Qtde. Teórica', 'Part. (%)']

    # Append '.SA' to the 'Código' column
    df['Código'] = df['Código'] + '.SA'

    return df

# Example usage
file_path = 'IBOVDia_13-11-24.csv'
bov = process_csv(file_path)
bov

      Código         Ação        Tipo  Qtde. Teórica Part. (%)
0   ALOS3.SA        ALLOS  ON      NM    502.481.592     0,516
1   ALPA4.SA   ALPARGATAS  PN      N1    166.460.180     0,054
2   ABEV3.SA    AMBEV S/A          ON  4.394.835.131     2,630
3   ASAI3.SA        ASSAI  ON      NM  1.349.687.675     0,463
4   AURE3.SA        AUREN  ON      NM    291.727.616     0,138
..       ...          ...         ...            ...       ...
81  VAMO3.SA        VAMOS  ON      NM    485.166.826     0,131
82  VBBR3.SA        VIBRA  ON      NM  1.023.392.529     1,092
83  VIVA3.SA  VIVARA S.A.  ON      NM    125.823.025     0,148
84  WEGE3.SA          WEG  ON      NM  1.269.032.828     3,346
85  YDUQ3.SA   YDUQS PART  ON      NM    290.010.465     0,144

[86 rows x 5 columns]

In [22]:
bov.columns

Index(['Código', 'Ação', 'Tipo', 'Qtde. Teórica', 'Part. (%)'], dtype='object')